<div id="templatemo_footer">
		<div id="footcol4">
				<h5><a href="http://www.tradalyst.com/our_services.html">Our Services</a></h5>            
				<a href="http://www.tradalyst.com/our_services/advisory_marketplace.html">Advisory Marketplace</a></p>
				<a href="http://www.tradalyst.com/our_services/broking_services.html">Broking Services</a></p>				
		</div>
        <div id="footcol4">
        	<h5><a href="http://www.tradalyst.com/traders'_zone.html">Traders' Zone</a></h5>            
                <p><a rel="nofollow" href="http://www.tradalyst.com/traders'_zone/how_it_works?.html">How it Works?</a></p>
            	<p><a rel="nofollow" href="http://www.tradalyst.com/traders'_zone/pricing_policy.html">Pricing Policy</a></p>
                <p><a rel="nofollow" href="http://www.tradalyst.com/traders'_zone/how_tf_analysts_are_rated?.html">How TF Analysts are Rated?</a></p>
                <p><a rel="nofollow" href="http://www.tradalyst.com/traders'_zone/select_a_tf_analyst.html">Select a TF Analyst</a></p>			
        </div>
		<div id="footcol4">
        	<h5><a href="http://www.tradalyst.com/analysts'_zone.html">Analysts' Zone</a></h5>            
                <p><a rel="nofollow" href="http://www.tradalyst.com/analysts'_zone/how_it_works?.html">How it Works?</a></p>
            	<p><a rel="nofollow" href="http://www.tradalyst.com/analysts'_zone/what_will_you_earn?.html">What Will You Earn?</a></p>
                <p><a rel="nofollow" href="http://www.tradalyst.com/analysts'_zone/guide_to_improve_tf_stars.html">Guide to Improve TF Stars</a></p>
                <p><a rel="nofollow" href="http://www.tradalyst.com/analysts'_zone/recommend_a_tip.html">Recommend a Tip</a></p>
				<p><a rel="nofollow" href="http://www.tradalyst.com/analysts'_zone/view_your_previous_tips.html">View Your Previous Tips</a></p>		
        </div>
		<div id="footcol4">
        	<h5><a href="http://www.tradalyst.com/articles.html">Articles</a></h5>
        </div>
        <div id="footcol4">
			<h5>Other Links</h5>
        	<p><a rel="nofollow" href="http://www.tradalyst.com/faqs.html">FAQs</a></p>
			<p><a rel="nofollow" href="http://www.tradalyst.com/contact_us.html">Contact Us</a></p>
			<p><a rel="nofollow" href="http://www.tradalyst.com/terms_of_use.html">Terms of Use</a></p>
			<p><a rel="nofollow" href="http://www.tradalyst.com/disclaimer.html">Disclaimer</a></p>
			<p><a rel="nofollow" href="http://www.tradalyst.com/privacy_policy.html">Privacy Policy</a></p>
        </div>        
	</div>	
	<div id="footer_copy">
		<div>
			<p style="color:#b0b6be; width:50%;float:left;"><a rel="nofollow" target="_Blank" href="http://www.tradalyst.com">Tradalyst</a> © 2014 All rights reserved. Designs by <a rel="nofollow" target="_Blank" href="http://www.veravalonline.com">VeravalOnline.INCL</a></p>
			<div id="social"><a href="#"><img src="~/Content/tradalysyTheme/images/social/LinkedIn-icon.png"> </a></div>
			<div id="social"><a href="#"><img src="~/Content/tradalysyTheme/images/social/Twitter-icon.png"> </a></div>
			<div id="social"><a href="#"><img src="~/Content/tradalysyTheme/images/social/Facebook-icon.png"> </a></div>			
		</div>		
				
	</div> 