ShareMarket.BusinessLogic/bin/Debug/ShareMarket.BusinessLogic.pdb
ShareMarket.BusinessLogic/bin/
ShareMarket.BusinessLogic/obj/
ShareMarket.Code/obj/
ShareMarket.Core/bin/
ShareMarket.Core/
ShareMarket.DataModel/bin/
ShareMarket.DataModel/obj/
ShareMarket.Utility/bin/
ShareMarket.Utility/obj/
ShareMarket.Web/Areas/Admin/Content/Upload/
ShareMarket.Web/obj/
ShareMarket.Web/bin/
