@{
    ViewBag.Title = "Unauthorized User Access";
}
<style>
    .construction {
       
        height: 400px;
        width: 100%;
        font-size: 100px;
        text-align: center;
        margin-top: 20px;
        margin-left: 5px;
        line-height: 90px;
    }
   
</style>
<div class="construction">
Unauthorized User Access
    </div>
