<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<connectionStrings>
      <add name="SchoolDBConnectionString" connectionString="Data Source=.;Initial Catalog=SchoolDBByCodeFirst;Integrated Security=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>-->
  <appSettings>
    <!--<add key="DatabaseInitializerForType SchoolDataLayer.SchoolDBContext, SchoolDataLayer"
         value="System.Data.Entity.DropCreateDatabaseAlways`1[[SchoolDataLayer.SchoolDBContext, SchoolDataLayer]], EntityFramework" />-->
    <add key="DatabaseInitializerForType ShareMarket.DataAccess.ShareMarketDbContext, ShareMarket.DataAccess"
         value="ShareMarket.DataAccess.ShareMarketDbInitializer, ShareMarket.DataAccess" />
  </appSettings>
</configuration>