
<!-- end of header -->
<div id="da-slider" class="da-slider">
    <div class="da-slide">
        <h2>Advisory Services</h2>
        <p>Advisory services starting from as low as Rs 100/- per successful tip</p>
        <a href="http://www.tradalyst.com/traders'_zone.html" class="da-link">Read more</a>
        <div class="da-img">
            <img src="~/Content/tradalysyTheme/images/slider.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Grow Your Advisory Business</h2>
        <p>Grow your advisory business without worrying about advertising, messaging or maintaining clients</p>
        <a href="http://www.tradalyst.com/analysts'_zone.html" class="da-link">Read more</a>
        <div class="da-img">
            <img src="~/Content/tradalysyTheme/images/1.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Most Competitive Brokerage</h2>
        <p>Grab the opportunity to trade with the most competitive brokerage in the industry.</p>
        <a href="http://www.tradalyst.com/our_services/broking_services.html" class="da-link">Read more</a>
        <div class="da-img">
            <img src="~/Content/tradalysyTheme/images/slider3.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Keep Yourself Updated</h2>
        <p>Keep yourself updated with current market affairs with the help of our articles.</p>
        <a href="http://www.tradalyst.com/articles.html" class="da-link">Read more</a>
        <div class="da-img">
            <img src="~/Content/tradalysyTheme/images/slider2.png" alt="image01" /></div>
    </div>
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>

<script type="text/javascript">
    $(function () {

        $('#da-slider').cslider({
            autoplay: true,
            bgincrement: 450
        });

    });
</script>
