@Html.Partial("_Slider")
<!-- start -->
<div id="templatemo_content_wrapper">
    <div id="templatemo_contentone" class="animate_afl animate_start">
        <img src="~/Content/tradalysyTheme/images/1.png" width="256" id="animatedElement" alt="Image 01">
    </div>

    <div id="templatemo_contenttwo">
        <h2>Compare Analysts by their Past Performance</h2>
        <p style="font-size: 14px; font-family: sans-serif; text-align: justify;">Before you select, compare the performance of analysts based on their profitability, success &nbsp; ratio &nbsp; and &nbsp; frequency &nbsp; of &nbsp; tips. &nbsp; We also &nbsp; provide ratings</BR> (TF Stars) to our analysts to help you select the best analyst according to your requirements.</p>
        <span class="readmorespan"><a href="http://www.tradalyst.com/traders'_zone.html">Read more</a></span>
    </div>
</div>
<p class="hr"></p>
<!-- start -->
<div id="templatemo_content_wrapper">
    <div id="templatemo_contenttwo2">
        <h2>Earn by Giving Advisory Services			
        </h2>
        <p style="font-size: 14px; font-family: sans-serif; text-align: justify;">If you are expert enough to advise traders in your segment, here is an opportunity for you to earn money. Get yourself registered as an analyst without any registration fees and the rest of the things like marketing your business, sending SMS to clients, collecting payments and handling and maintaining the clients are on us.</p>
        <span class="readmorespan"><a href="http://www.tradalyst.com/analysts'_zone.html">Read more</a></span>
    </div>
    <div id="templatemo_contentone2" class="animate_afl animate_start">
        <img src="~/Content/tradalysyTheme/images/slider.png" width="256" alt="Image 01" id="animatedElement1" width="340">
    </div>
</div>

<p class="hr"></p>
<!-- start -->
<div id="templatemo_content_wrapper">
    <div id="templatemo_contentone" class="animate_afl animate_start">
        <img src="~/Content/tradalysyTheme/images/12.png" alt="Image 01" id="animatedElement2" width="256">
    </div>
    <div id="templatemo_contenttwo">
        <h2>Trade with the Most Competitive Brokerage Charges			
        </h2>
        <p style="font-size: 14px; font-family: sans-serif; text-align: justify;">Improve your &nbsp; profitability by paying the most &nbsp; competitive brokerage; &nbsp;as low as </BR>1 paisa for intraday, 10 paisa for delivery for Cash & Future segments, Rs 10/- per lot &nbsp; for Options, &nbsp; 1 paisa for Commodity segment and Currency Future &nbsp; and </br> Rs 15/- per lot for Currency Options. Ensure yourself with the best services and support from our expert dealers on all operational fronts.			 </p>
        <span class="readmorespan"><a href="http://www.tradalyst.com/broking_services.html">Read more</a></span>
    </div>
</div>
<p class="hr"></p>

<!-- start -->
<div id="templatemo_content_wrapper">
    <div id="templatemo_contenttwo2">
        <h2>Get Updated with Current Financial Affairs						
        </h2>
        <p style="font-size: 14px; font-family: sans-serif; text-align: justify;">
            If you are looking for good articles on trading and financial wisdom, check out our articles section. You can also get these articles directly in your inbox for free by registering yourself.						
        </p>
        <span class="readmorespan"><a href="http://www.tradalyst.com/articles.html">Read more</a></span>
    </div>
    <div id="templatemo_contentone2" class="animate_afl animate_start">
        <img src="~/Content/tradalysyTheme/images/slider2.png" id="animatedElement3" alt="Image 01" width="340">
    </div>
</div>
