@using ShareMarket.Web.Areas.Admin.HtmlHelpers


<!--    Get Selected Left Menu    -->

<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->
    <ul>
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone">
            </div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class=""><a href=""><i class="icon-home"></i><span class="title">Dashboard</span>
        </a></li>

        <li class="">
            <a href="javascript:;" class="li-expandable">
                <i class="icon-cogs"></i>
                <span class="title">Configuration</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">

                @Setlink("setting", "Index", "Setting")

            </ul>
        </li>




    </ul>
    <!-- END SIDEBAR MENU -->
</div>

@helper Setlink(string linkName, string actionName, string controllerName)
{
    
    <li class="@Html.ActivePage(actionName, controllerName)  ">
        <a href="@Url.Action(actionName, controllerName)">
            <i class="icon-cogs margin-right-5"></i><span class="title">@linkName</span>
        </a>
    </li>
}


