
<!--    Get Selected Left Menu    -->

<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->
    <ul>
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone">
            </div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class=""><a href=""><i class="icon-home"></i><span class="title">Dashboard</span>
        </a></li>

       
    </ul>
    <!-- END SIDEBAR MENU -->
</div>



